<table border = 7>

  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-Mail</th>
      <th>Phone</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>ZipCode</th>
      <th>Country</th>
    </tr>
  </thead>
  {% for user in userDetails %}
  
  <tr>
    <td> {{user[0]}} </td>
    <td> {{user[1]}} </td>
    <td> {{user[2]}} </td>
    <td> {{user[3]}} </td>
    <td> {{user[4]}} </td>
    <td> {{user[5]}} </td>
    <td> {{user[6]}} </td>
    <td> {{user[7]}} </td>
    <td> {{user[8]}} </td>
    <td> {{user[9]}} </td>
    <td> {{user[10]}} </td>
    <td> {{user[11]}} </td>
    <td> {{user[12]}} </td>
  
  </tr>
  {% endfor %}
</table>